<!-- sidebar menu -->
<div id="main_menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3> Information </h3>
        <ul class="nav side-menu">
            <li>
                <a href="./index">
                    <i class="fa fa-home"></i> Tổng quan
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="./manage_item">
                    <i class="fa fa-edit"></i> Quản lý mặt hàng
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="./manage_account">
                    <i class="fa fa-users"></i> Quản lý tài khoản
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="./manage_bill">
                    <i class="fa fa-file-word-o"></i> Quản lý đơn hàng
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="./mail_inbox">
                    <i class="fa fa-envelope"> </i> Hộp thư
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->