<footer>
    <div class="pull-right">
       <p>1512159 | Hoang Trung Hieu - 1512398 | Do Thanh Phong</p>
       <p>Copyright &copy; 2018, All Rights Reserved</p>

    </div>
    <div class="clearfix"></div>
</footer>