<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Administrators | Khungtranh.vn </title>
    <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <!-- font -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script> 
    <script src="/lib/jsPDF/jspdf.min.js"></script>
    <script src="/lib/dom-to-image/dom-to-image.min.js"></script>
    <script src="/lib/html2canvas/html2canvas.min.js"></script>
    <script src="/lib/saveas/index.js"></script>
    {{!-- <script src="/js/jquery-3.3.1.min.js"></script> --}}

    <script src="/js/handlebars-v4.0.11.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/admin.js"></script>
    <!-- CHART JS -->
    <script src="/lib/chart/Chart.js"></script>
    {{!-- Cookie Jquery --}}
    <script src="/js/jquery.cookie.min.js"></script>

</head>
<body class="main">
    <div class="container">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col">
                    <div class="navbar nav_title" id="ms">
                        <a href="index.html" class="site_title" style="font-family: 'Montserrat', sans-serif;"></i> <span> KHUNGTRANH.VN </span></a>
                    </div>
                    
                    <div class="clearfix"></div>
                    <!-- info -->
                    <div class="profile clearfix">
                            <div class="profile_pic">
                              <img src="../img/avatar.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                              <span>Chào mừng,</span>
                              <h2 id = 'adname'> </h2>
                            </div>
                    </div>
                          
                    <!-- /info -->
                    <br/>
                    {{>admin_nav}}
                </div>
            </div>
            <!-- nav -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../img/avatar.jpg" alt="..."/> <span id="adname2"></span>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- page main -->
            {{{body}}}
            <!-- footer -->
            {{>admin_footer}}
             <!--/footer-->
        </div>
    </div>
    {{!-- <script src="/js/jquery.min.js"></script> --}}
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

<script>
    $(document).ready(function(){
        $.ajax({
            url: '/admin/adminName',
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: function (data) {
                $('#adname').html(data);
                $('#adname2').html(data);
            }
        })
    })
</script>