<div class="right_col" role="main">
    <div class="row tile_count">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mt-2 mb-2">
                <form id="thongkeform">
                        <div class="col-md-2">
                            <label for="type">Thống kê theo</label>
                            <select class="form-control" id="type" required value="day" name="type">
                                <option value="day">Ngày</option>
                                <option value="month">Tháng</option>
                                <option value="year">Năm</option>
                            </select>
                        </div>

                        <div class="col-md-4">   
                        <label for="fromDate">Từ</label>
                        <input class="form-control" type="date" min="0" value="" id="fromDate">
                        </div>

                        <div class="col-md-4">
                            <label for="toDate">Đến</label>
                            <input class="form-control" type="date" min="0" value="" id="toDate">
                        </div>

                        <div class="col-md-2">
                            <label for="btnThongKe">Xuất biểu đồ</label>
                            <button class="btn btn-primary" id="btnThongKe" style="width:100%">
                                <i class="fas fa-chart-bar"></i>
                                Thống kê

                            </button>
                        </div>
                    </form>
            </div>
            <hr>
            <div class="x_panel" style="margin-top:20px">
                <div class="x_title">
                    <h2>Biểu đồ thống kê tổng doanh số</h2>
                    <div class="title_right"></div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-group">
                    <div class="x_content">
                        <canvas id="myChart"></canvas>   
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="padding-top:10px" style="text-decoration:none">
                                    <a data-toggle="collapse" href="#collapse1">
                                        <i class="fas fa-table"></i>
                                        Xem báo cáo dạng bảng
                                    </a>
                                </h3>
                               
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                 <table  class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Thời gian</th>
                                            <th>Tổng doanh thu</th>
                                            <th>Tổng số đơn hàng</th>
                                            <th>Tổng số người mua</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tbdoanhthu"></tbody>
                                 </table>
                            </div>
                        </div>           
                    </div>
                </div>

                
            </div>
            <div class="x_panel" style="margin-top:20px">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Biểu đồ thống kê doanh số theo danh mục mặt hàng</h2>
                        </div>
                        <div class="col-md-3">
                                <label for="catalogSelect">Lựa chọn danh mục </label>
                                <select class="form-control" id="catalogSelect"></select>
                        </div>
                    </div>
                      
                    <div class="title_right"></div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-group">
                    <div class="x_content">
                        <canvas id="myChart2"></canvas>   
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="padding-top:10px" style="text-decoration:none">
                                    <a data-toggle="collapse" href="#collapse2">
                                        <i class="fas fa-table"></i>
                                        Xem báo cáo dạng bảng
                                    </a>
                                </h3>
                               
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <table  class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Thời gian</th>
                                            <th>Tổng doanh số mặt hàng</th>
                                            <th>Tổng số hàng bán ra</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdoanhthutheosp">

                                    </tbody>
                                </table>
                            </div>
                        </div>           
                    </div>
                </div>
        



              
            </div>
        </div>
    </div>
</div>

<script>
function loadCatalog() {
        var url = '/admin/getCatalogInfo';
        $.ajax({
            url: url,
            cache: true,
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: function (data) {
                getTemplateAjax('/templates/catalog_select_s.hbs', '#catalogSelect', data);
            }
        })
    }
var dataDummy =  {
        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6"],
        datasets: [{
            label: 'Tài khoản người dùng',
            data: [12, 50, 100, 156, 200, 295],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
            }]  
    }
var dataTemplate =  {
        labels: '',
        datasets: [{
            label: 'Thống kê doanh số',
            data: '',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
            }]  
    }
var dataTemplate2 =  {
        labels: '',
        datasets: [{
            label: 'Thống kê doanh số',
            data: '',
            backgroundColor: [
                'rgba(141, 178, 239,0.2)'
            ],
            borderColor: [
                'rgb(66, 134, 244)'
            ],
            borderWidth: 1
            }]  
    }
var ctx = document.getElementById("myChart").getContext('2d');
var ctx2 = document.getElementById("myChart2").getContext('2d');
function loadChart(data,ctxt){
    var myChart = new Chart(ctxt, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}

function getTemplateAjax(path, target, jsonData) {
    var source;
    var template;
    $.ajax({
        url: path,
        cache: false,
        success: function (data) {
            source = data;
            template = Handlebars.compile(source);
            $(target).html(template(jsonData));
        }
    })
}

function format(date,labels){
    d = new Date(date);
    var type = $('#type').val();
    switch (type){
        case 'month':
            labels.push('Tháng '+ (parseInt(d.getMonth())+1).toString())
            break;
        case 'day':
            labels.push(d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear())
            break;
        case 'year':
            labels.push(d.getFullYear());
            break;
    }
                
}
 var maindata = null;
$('#btnThongKe').on('click',function(){
    $.ajax({
        url: "/admin/thongke",
        type: "POST",
        headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
        data: {fromDate: $('#fromDate').val(), toDate: $('#toDate').val(), type: $('#type').val()},
        success: function (data) {
            labels = []
            dataset = []
            for (i=0;i<data.length;i++){
                format(data[i].createdAt,labels)
                dataset.push(parseInt(data[i].total));
            }
            dataTemplate.labels = labels;
            dataTemplate.datasets[0].data = dataset;
            loadChart(dataTemplate,ctx);

            var src = ''
            for (i=0;i<data.length;i++){
                src += '<tr><td>'+parseInt(i+1)+'</td><td>' +
                     labels[i] + '</td>' + '<td>' + dataset[i]+ 
                    '</td><td>' + data[i].count + '</td><td>'+ data[i].countUser+
                    '</td></tr>'
            }
            $('#tbdoanhthu').html(src);
        }
    })

   
    $.ajax({
        url: "/admin/thongketheoloai",
        type: "POST",
        headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
        data: {fromDate: $('#fromDate').val(), toDate: $('#toDate').val(), type: $('#type').val()},
        success: function(data){
            maindata = data;
            
        }
    })
    return false;
})

$('#catalogSelect').on('change',function(){
        c = $('#catalogSelect').val();
        console.log(maindata);
        for (i=0;i<maindata.length;i++){
                if (maindata[i].id == c){
                    labels = [];
                    dataset = [];
                    for (j=0;j<maindata[i].label.length;j++){
                        format(maindata[i].label[j],labels);
                    }
                    dataTemplate2.labels = labels;
                    dataTemplate2.datasets[0].data = maindata[i].value;
                    dataTemplate2.datasets[0].label = maindata[i].name;
                    loadChart(dataTemplate2,ctx2);
                    

                    var src = ''
                for (j=0;j<maindata[i].label.length;j++){
                    src += '<tr><td>'+parseInt(j+1)+'</td><td>' +
                            labels[j] + '</td>' + '<td>' + maindata[i].value[j]+ 
                            '</td><td>'+maindata[i].count[j]+ '</td><td>'+
                            '</td></tr>'
                }
                $('#tbdoanhthutheosp').html(src);
                break;
                } 
            }
        
    });

$(document).ready(function(){
    loadCatalog();
})
</script>