
<!-- page main -->
<div class="right_col mt-2" role="main">
    <div class="p">
        <div class="page-title">
            <div class="title_left p-3">
                <h2 > Hệ thống quản lý tài khoản </h2>
            </div>
            <div class="title_right">
                {{!-- <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div> --}}
            </div>
            <div class="clearfix"></div>
            <div id="row">
                <div class="col-md-12">
                    <div id="x_panel">
                        <div id="x_content" style="height:450px">
                            <table class="table table-striped">
                                <thead>
                                    <!-- header table -->
                                    <tr>
                                        <th style="width:1%">ID</th>
                                        <th style="width:5%;" class="mcenter">Ảnh</th>
                                        <th style="width:15%;" class="mcenter">Tên người dùng</th>
                                        <th style="width:15%" class="mcenter"> Email </th>
                                        <th style="width:10%" class="mcenter"> Số ĐT </th>
                                        <th style="width:25%" class="mcenter"> Địa chỉ</th>
                                        <th style="width:10%;" class="mcenter">Ngày tạo TK</th>
                                        <th class="mcenter">Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody id="users">
                                    <!-- Information an account -->
                                    <div ></div>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <ul id="pagination-demo" class="pagination pt-4"></ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.twbsPagination.min.js"></script>
<script>
    var id = 1;
    var num_of_pages = 0;
    var cur_page = -1;
    function loadItems(page) {
        var url = '/admin/getUserInfo?page=' + page; 
        $.ajax({
            url: url,
            cache: true,
            success: function (data) {
                 if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        totalPages: num_of_pages,
                        visiblePages: 3,
                        next: '>',
                        prev: '<',
                        onPageClick: function (event, page) {
                            loadItems(page)
                        }
                    });
                    cur_page = page;
                } 
                getTemplateAjax('/templates/users_row.hbs', '#users', data)
            }
        })
    }
    function getTemplateAjax(path, target, jsonData) {
        var source;
        var template;
        $.ajax({
            url: path,
            cache: false,
            success: function (data) {
                source = data;
                template = Handlebars.compile(source);
                $(target).html(template(jsonData));
            }
        })
    }
    function statusUser(userID,action){
        $.ajax({
            url: '/admin/banUser',
            type: 'GET',
            data: {userId:userID,action:action},
            success: function(data){ 
            },
            complete: function(data){
                loadItems(cur_page);
            }
        })
        
        return false;
    }
    $(document).ready(function(){
         loadItems(1);
    })
</script>