<script src="/js/jquery.twbsPagination.min.js"></script>
<script src="/js/search.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<!-- page main -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <!-- modal new product -->

            <!-- Modal new catalog-->
            <div class="modal fade" id="newCatalogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Thêm mới danh mục </h4>
                        </div>
                        <div class="modal-body">
                            <div id="testmodal" style="padding: 5px 20px;">
                                <form id="newCatForm" class="form-horizontal calender" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tên danh mục*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name" name="title" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Mô tả</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" style="height:55px;" id="descr" name="summary"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addCatalog">Thêm mới</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Modal new Item --}}
            <div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="newItemModalLabel">Thêm mới mặt hàng </h4>
                        </div>
                        <div class="modal-body">
                            <div id="modal2" style="padding: 5px 10px;">

                                <form id="newItemForm" action="/admin/newItem" class="form-horizontal calender" role="form" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tên mặt hàng mới*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" value="123" id="itemName" name="itemName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tên danh mục*</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="catalogId" required value="123" name="catalogId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Mã mặt hàng*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="itemId" name="itemId" value="123" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Loại sản phẩm</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="itemTypeSelect" required value="123" name="itemType">
                                                <option value="Khung đặt làm">Khung đặt làm</option>
                                                <option value="Khung làm sẵn">Khung làm sẵn</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Trạng thái</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="itemStatusSelect" required value="123" name="itemStatus">
                                                <option value="1">Còn hàng</option>
                                                <option value="2">Tạm hết hàng</option>
                                                <option value="3">Ngưng kinh doanh</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Chất liệu*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="itemMaterial" name="itemMaterial" value="123" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Giá bán*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="itemPrice" name="itemPrice" value="123" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label" for="exampleInputFile">Hình sản phẩm</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="itemImg" class="form-control-file" id="itemImg" aria-describedby="fileHelp">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3  control-label" for="exampleInputFile2">Hình demo sản phẩm</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="itemDemo" class="form-control-file" id="exampleInputFile2" aria-describedby="fileHelp">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Chiều ngang tối đa: *</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="itemWidthSize" class="form-control" id="itemWidthSize" value="123" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Chiều dọc tối đa: *</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="itemHeightSize" class="form-control" id="itemHeightSize" value="123" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Mô tả</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" style="height:55px;" id="itemInfo" name="itemInfo"></textarea>
                                        </div>
                                    </div>
                                    <input type="text" name="id" class="form-control" id="id" style="display:none">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"  id="addNewItem">Thêm mới</button>
                            <button type="button" class="btn btn-primary"  id="editItem" style="display:none">Lưu các thay đổi</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

                        </div>
                    </div>
                </div>
            </div>
            {{!-- Modal edit Catalog --}}
            <div class="modal fade" id="editCatalogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Chỉnh sửa danh mục </h4>
                        </div>
                        <div class="modal-body">
                            <div id="testmodal" style="padding: 5px 20px;">
                                <form id="editCatForm" class="form-horizontal calender" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tên danh mục*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="edittitle" name="title" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Mô tả</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" style="height:55px;" id="editsummary" name="summary"></textarea>
                                        </div>
                                    </div>
                                    <input type="text" id="editCatalogId" style="display:none" name="id">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="editCatalog">Lưu những thay đổi</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- group product -->
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-9">
                                    <h2> Quản lý danh mục
                                    </h2>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCatalogModal">
                                        Thêm danh mục mới
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên danh mục</th>
                                        <th>Số lượng sản phẩm</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="catalog">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /group product -->

        <!-- group product -->
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-9">
                                <h2> Quản lý chi tiết mặt hàng </h2>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" id="newItemButton">
                                    Thêm mặt hàng mới
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div>

                        </div>
                        <br>
                        {{!-- Tim kiem, sap xep --}}
                        <div class="row" style="margin-top:5px">
                            <div class="col-md-4 ">

                                <label for="catalogSelect">Danh mục</label>
                                <select class="form-control" id="catalogSelect"></select>
                            </div>

                            <div class="col-md-5 ">

                                <label for="search">Tìm kiếm</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" id="search" placeholder="Tìm kiếm">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <label for="sortBy"> Sắp xếp
                                    <br>
                                </label>
                                      <select class="form-control" id="sortBy">
                                        <option value="1">Tên từ A - Z</option>
                                        <option value="2">Tên từ Z - A</option>
                                        <option value="3">Giá tăng dần</option>
                                        <option value="4">Giá giảm dần</option>
                                    </select>
                            </div>
                            <div class="col-md-1 align-content-center text-center ">
                                <label for="search"> Tìm/lọc
                                    <br>
                                </label>
                                <button class="btn btn-primary align-bottom" id="search_filter" style="width:100%">Tìm</button>
                            </div>
                            
                            
                        </div>
                        {{!-- Filter/bo loc --}}
                        <div class="row">

                            <div class="col-md-3">
                                <label for="fromDate">Từ ngày</label>
                                <input class="form-control" type="date" min="0" value="" id="fromDate">
                            </div>

                            <div class="col-md-3">
                                <label for="toDate">Đến ngày</label>
                                <input class="form-control" type="date" min="0" value="" id="toDate">
                            </div>
                            <div class="col-md-3">
                                <label for="fromDate">Giá bán từ</label>
                                <input class="form-control" type="number" value="" id="fromPrice">
                            </div>

                            <div class="col-md-3">
                                <label for="toDate">Đến giá</label>
                                <input class="form-control" type="number" value="" id="toPrice">
                            </div>

                        </div>
                        <div class="row" style="padding:10px; padding-left:15px; padding-bottom: 0px">
                                 <p style="color:green; font-style:italic" id="countRows"></p>
                        </div>

                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên hàng</th>
                                    <th>Chất liệu</th>
                                    <th>Giá bán</th>
                                    <th>Tình trạng</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                            </thead>

                            <tbody id="items">

                            </tbody>
                        </table>
                        <div id="noItem" style="display:none">
                            Không có sản phẩm nào
                        </div>

                        <ul id="pagination-demo" class="pagination pt-4"></ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page main-->

<script>
    var id = 4;
    var num_of_pages = 0;
    var cur_page = -1;
    var catalog_info = {};
    var item_info = {}
    var templateLink = '/templates/catalog_items_row.hbs'
    function loadCatalog() {
        var url = '/admin/getCatalogInfo';
        $.ajax({
            url: url,
            cache: true,
            success: function (data) {
                catalog_info = data;
                getTemplateAjax('/templates/catalog_row.hbs', '#catalog', data);
                getTemplateAjax('/templates/catalog_select_s.hbs', '#catalogSelect', data);
                getTemplateAjax('/templates/catalog_select.hbs', '#catalogId', data);
                getTemplateAjax('/templates/catalog_select.hbs', '#chooseCatalog', data)
            }
        })
    }
    $('#catalogSelect').on('change', function () {
        id = this.value;
        executeSearch(1,templateLink);
    })
    $('#addCatalog').on('click', function () {
        if ($('#newCatForm').valid()) {
            $.ajax({
                url: "/admin/newCatalog",
                type: "POST",
                data: $('#newCatForm').serialize(),
                success: function (data) {
                    loadCatalog();
                    $('#newCatalogModal').modal('hide');
                }
            })
        }
    })

    $('#editCatalog').on('click', function () {
        if ($('#editCatForm').valid()) {
            $.ajax({
                url: "/admin/editCatalog",
                type: "POST",
                data: $('#editCatForm').serialize(),
                success: function (data) {
                    loadCatalog();
                    $('#editCatalogModal').modal('hide');
                }
            })
        }
    })

    $('#addNewItem').on('click', function () {
         if ($('#newItemForm').valid()) {
            var form = $('#newItemForm')[0];
            var data = new FormData(form);
            data.append('img2', $('#newItemForm')[1])
            $.ajax({
                url: "/admin/newItem",
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $('#newItemModal').modal('hide');
                }
            })
        }
    })

    $('#editItem').on('click', function () {
        if ($('#newItemForm').valid()) {
            var form = $('#newItemForm')[0];
            var data = new FormData(form);
            data.append('img2', $('#newItemForm')[1])
            $.ajax({
                url: "/admin/editItem",
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    executeSearch(cur_page,templateLink)
                    $('#newItemModal').modal('hide');
                }
            })
        }
    })


    function editCatalog(id) {
        catalog_info.catalogs.forEach(function (catalog) {
            if (catalog.id == id) {
                $('#edittitle').val(catalog.title);
                $('#editsummary').val(catalog.summary);
                $('#editCatalogId').val(id);
                $('#editCatalogModal').modal('show');
            }
        });
    }
    function deleteCatalog(id,name) {
        r = confirm("Bạn có chắc chắn muốn xóa catalog " + name + "?");
        if (r == true) {
            $.ajax({
                url: "/admin/deleteCatalog",
                type: "POST",
                data: { id: id },
                success: function (data) {
                    loadCatalog();
                }
            })
        }
        return;
    }
    function deleteItem(id,name) {
        r = confirm("Bạn có chắc chắn muốn xóa sản phẩm" + name + "?");
        if (r == true) {
            $.ajax({
                url: "/admin/deleteItem",
                type: "POST",
                data: { id: id },
                success: function (data) {
                    executeSearch(cur_page,templateLink);
                }
            })
        }
        return;
    }
    $('#newCatForm').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    function newItem() {
                $('#itemName').val('');
                $('#itemId').val('');
                $('#catalogId').val('');
                $('#itemMaterial').val('');
                $('#itemPrice').val('');
                $('#itemWidthSize').val('');
                $('#itemHeightSize').val('');
                $('#itemInfo').val('');
                $('#addNewItem').css('display', 'inline');
                $('#editItem').css('display', 'none');
                $('#newItemModal').modal('show'); 
    }

    $('#newItemButton').on('click',function(){
        newItem();
    })
    function editItem(id) {
        item_info.itemsList.rows.forEach(function (item) {
            if (item.id == id) {
                $('#itemName').val(item.itemName);
                $('#itemId').val(item.itemId);
                $('#catalogId').val(item.CatalogId);
                $('#itemMaterial').val(item.itemMaterial);
                $('#itemPrice').val(item.itemPrice);
                $('#itemWidthSize').val(item.itemWidthSize);
                $('#itemHeightSize').val(item.itemHeightSize);
                $('#itemInfo').val(item.itemInfo);
                $('#addNewItem').css('display', 'none');
                $('#editItem').css('display', 'inline');
                $('#id').val(id);
                $('#newItemModalLabel').text("Cập nhật thông tin mặt hàng");
                $('#newItemModal').modal('show');
            }
        });
    }
    
    $('#search_filter').on('click', function () {
        executeSearch(1,templateLink)
    });
    $(document).ready(function () {
        loadCatalog();
        Handlebars.registerHelper( "compare", function( v1, op, v2, options ) {

        var c = {
            "eq": function( v1, v2 ) {
            return v1 == v2;
            },
            "neq": function( v1, v2 ) {
            return v1 != v2;
            },

        }

        if( Object.prototype.hasOwnProperty.call( c, op ) ) {
            return c[ op ].call( this, v1, v2 ) ? options.fn( this ) : options.inverse( this );
        }
        return options.inverse( this );
        } );
    })
</script>