<!-- page main -->
<div class="right_col" role="main">
    <div class="row tile_count">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                <h2>Hệ thống quản lý đơn hàng</h2>
                {{!-- <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Tìm</button>
                            </span>
                        </div>
                    </div>
                </div> --}}
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:5%" class="mcenter">Mã số đơn hàng</th>
                                <th style="width:15%" class="mcenter"> Tên Mặt hàng </th>
                                <th style="width:10%" class="mcenter"> Thời gian </th>
                                <th style="width:10%" class="mcenter"> Người dùng </th>
                                <th style="width:10%" class="mcenter"> Giá </th>
                                <th style="width:10%" class="mcenter"> Trạng Thái </th>
                                <th style="width:10%" class="mcenter"> Chỉnh sửa </th>
                            </tr>
                        </thead>
                        <tbody id="bills">
                            <div></div>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <ul id="pagination-demo" class="pagination pt-4"></ul>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel"> Hoá Đơn </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="captureBill">
            <div id="testmodal" style="padding: 5px 10px;">
                <div id="listItemBill"></div>
                <!-- <div class="row">
                    <div class="col-xs-4">
                        <div id="prodcut-image">
                            <img src="/image/frame2.jpg" alt="..." style="text-align: center">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-md-3"> Tên khung </div>
                            <strong class="col-md-8"> OHKOKDOSKDSODK</strong>
                        </div>       
                        <div class="row">
                            <div class="col-md-3"> Thông tin </div>
                            <div class="col-md-8"> Phong cách sang trọng phù hợp cho mọi không gian trang trí </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-3"> Chất liệu </div>
                            <div class="col-md-8"> Composite trơn bóng -màu đen </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-3"> Kích thước </div>
                            <div class="col-md-8"> 240 x 350</div>
                        </div> 
                        <div class="row">
                            <div class="col-md-3"> Số lượng </div>
                            <div class="col-md-8"> 1 </div>
                        </div> 
                    </div>
                </div> -->
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6">
                    <div class="profile-product-tilte row-md-4">  
                        <label class="col-md-5 "> Mã Hóa Đơn </label>
                        <strong class="col-md-7" id="idBill"></strong>
                    </div>
                    <div class="profile-product-tilte row-md-4">  
                        <label class="col-md-5 "> Người dùng </label>
                        <strong class="col-md-7" id="nameBill"></strong>
                    </div>
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Thời gian </label>
                        <small class="col-md-7" id="dateBill">	</small>
                    </div>
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Trạng Thái </label>
                        <small class="col-md-7" style="color:green" id="statusBill"> </small>
                    </div>
                    <div class="profile-product-tilte row-md-4">
                            <label class="col-md-5 "> Số điện thoại</label>
                            <small class="col-md-7" style="color:black" id="telBill"></small>
                        </div>
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Địa chỉ </label>
                        <small class="col-md-7" style="color:black" id="addressBill"> </small>
                    </div>
                </div>  
                <div class="col-xs-6">
                    <div class="profile-product-tilte row-md-4">  
                        <label class="col-md-12"> Thông tin người nhận </label>
                    </div>
                    <div class="profile-product-tilte row-md-4">  
                        <label class="col-md-5 "> Người nhận </label>
                        <strong class="col-md-7" id="nameBillDeli"></strong>
                    </div>
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Email </label>
                        <small class="col-md-7" style="color:green" id="emailBillDeli"> </small>
                    </div>
                    <div class="profile-product-tilte row-md-4">
                            <label class="col-md-5 "> Số điện thoại</label>
                            <small class="col-md-7" style="color:black" id="telBillDeli"></small>
                        </div>
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Địa chỉ </label>
                        <small class="col-md-7" style="color:black" id="addressBillDeli"> </small>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-product-tilte row-md-4">
                        <label class="col-md-5 "> Giá </label>
                        <strong class="col-md-7"> <label id="costBill" style="font-size:2rem; color:red;"> </label> <label class="pull-right"><span class="fa fa-angle-up"></span>10% VAT</label></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="loads()">Loads</button>
            <button type="button" class="btn btn-danger" id="exportBill">Xuất hóa đơn</button>
        </div>
        </div>
    </div>
</div>
    
<!-- /page main-->
<script src="/js/jquery.twbsPagination.min.js"></script>
<script>
    var id = 1;
    var num_of_pages = 0;
    var cur_page = -1;
    function loadItems(page) {
        var url = '/admin/getBillInfo?page=' + page; 
        $.ajax({
            url: url,
            cache: true,
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: function (data) {
                cur_page = page;
                 if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        totalPages: num_of_pages,
                        visiblePages: 3,
                        next: '>',
                        prev: '<',
                        onPageClick: function (event, page) {
                            loadItems(page)
                        }
                    });
                } 
                getTemplateAjax('/templates/bills_row.hbs', '#bills', data)
            }
        })
    }
    function getTemplateAjax(path, target, jsonData) {
        var source;
        var template;
        $.ajax({
            url: path,
            cache: false,
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: function (data) {
                source = data;
                template = Handlebars.compile(source);
                $(target).html(template(jsonData));
            }
        })
    }
    $(document).ready(function(){
         loadItems(1);
    })

    var cancelBill = (id) => {
        var r = confirm('Bạn có chắc chắn muốn hủy đơn hàng?');
        if (r)
            $.ajax({
                type: "POST",
                url: '/cancelBillbyAdmin',
                headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
                data: JSON.stringify({
                    id: id
                }),
                contentType: 'application/json',
                cache: true,
                success: function (data) {
                    loadItems(cur_page);
                }
            })
    }

    var loads = function() {
        document.getElementById('nameBill').innerText = DataBillView.user;
        document.getElementById('dateBill').innerText = DataBillView.date;
        document.getElementById('costBill').innerText = DataBillView.cost;
        document.getElementById('statusBill').innerText = DataBillView.status;
        document.getElementById('idBill').innerText = DataBillView.id;
        document.getElementById('addressBill').innerHTML = DataBillView.address;
        document.getElementById('telBill').innerHTML = DataBillView.tel;
    }

    $('#exportBill').click(function () {   
        var r = confirm('Bạn có muốn xuất hóa đơn số ' + DataBillView.id +' của khách hàng '+DataBillView.user+' không?');
        if(r) 
        html2canvas(document.querySelector("#captureBill")).then(canvas => {
            //console.log(canvas)
            var img = canvas.toDataURL('image/png');
            var ratio = canvas.height / canvas.width;
            var doc = new jsPDF("", "mm", [canvas.width, canvas.height]);
            doc.addImage(img, 'JPEG', 10, 10, canvas.width, canvas.height);
            doc.setProperties({
                title: 'Hoá đơn - '+ DataBillView.user + 'ID:' +DataBillView.id,
                subject: 'Khungtranh.vn',
                author: 'Thanh Phong Đỗ',
                keywords: 'khungtranh.vn',
                creator: 'F4'
            });
            var NameB = 'bill'+DataBillView.id+'user'+DataBillView.user+'.pdf';
            doc.save(NameB);
        });
    });
</script>