<script src="js/jquery.twbsPagination.min.js"></script>
<link rel="stylesheet" href="css/dathang.css">
<link rel="stylesheet" href="./css/style.css">
<main>
    <div class="container-fluid" id="DatHangKhungTranh">
        <div class="row pt-0">
            <!-- catalogue -->
            <div class="col-4" id="khungtranh_catalogue">
                <h3 class="font-weight-bold pt-3">Danh mục mặt hàng</h3>
                <select class="form-control" id="pickCatalog">
                    {{#each catalog}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
                <div class="row pb-1">
                    <div class="col-5">
                        <ul id="pagination-demo" class="pagination pt-4"></ul>
                    </div>
                    <div class="col-7 p-2">
                        <p style="color:white">Tổng số mặt hàng: </p>
                        <p style="color:white" id="count"></p>
                    </div>
                    
                </div>
                
                <div role="tablist" aria-multiselectable="true">
                    <div id="items" style="background-color:#eee">

                    </div>
                </div>
            </div>

            <!-- dat hang main -->
            <div class="col-6 flex-column d-flex align-content-center align-items-center" id="dathang_main">
                <h2 class=" font-weight-bold pt-2" style="font-weight:bold">Xem trước khung tranh</h2>
                <div id="frame_main" style="clear: both;">
                    <img src="./img/ktranh_1.png" alt="" style="z-index:20" id="frame">
                    <img src="./img/hinh_nguoi_dung_1.jpg" alt="" id="pic">
                </div>
                <div class="row p-3 mt-4" style="width:90%" id="dathang_controlpanel">
                    <div class="col-6">
                        <div class="align-items-center text-center p-0 " id="abs" style="font-size:3em">
                            <div id="frame_btn">
                                <i id="abc" class="fas fa-search-plus"></i>
                            </div>
                            <div id="frame_btn">
                                <i class="fas fa-search-minus"></i>
                            </div>
                            <div id="frame_btn" onclick="handlerCrop()">
                                <i class="fas fa-crop"></i>
                            </div>
                            <div id="frame_btn">
                                <i class="far fa-save"></i>
                            </div>
                        </div>
                        <hr class="m-2" style="border-color: white">
                        <div class="form-check pt-1 pl-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked> In hình kèm khung
                            </label>
                        </div>

                    </div>
                    <div class="col-6" id="abc">
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <label for="width">Dài (cm)</label>
                                    <input type="number" class="form-control" placeholder="Chiều dài" id="width" value="200">
                                </div>

                                <div class="col">
                                    <label for="height">Rộng (cm)</label>
                                    <input type="number" class="form-control" placeholder="Chiều rộng" id="height" value="300">
                                </div>
                            </div>

                            <div class="form-row pt-2 pl-1 pr-1" >
                                <a style="width:80%" name="" id="" class="btn btn-danger align-self-center" role="button" onclick="add_cart_item()">
                                    Thêm vào giỏ
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a style="width:20%" name="" id="" class="btn btn-success align-self-center" href="./GioHang" role="button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </div>

                            <div class="text-center">


                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- hinh nguoi dung upload -->
            <div class="col-2" id="HinhNguoiDung">
                <div class="AddHinhNguoiDungItem p-3 align-content-center text-center align-items-center justify-content-center d-flex flex-column">
                    <i class="fas fa-camera" style="font-size:2em;"></i>
                    <p class="m-0" style="font-size:1em">Tải ảnh lên</p>
                </div>
                <hr>
                <ul id="listHinhNguoiDung">
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_1.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_2.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_3.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_4.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</main>

<script>
   
    var saveIdChoose = -1;
    // add_item
    
    // handlers
    var yourChoose = (id) => {
        saveIdChoose = id;
    }
    //degisn
    var c = document.getElementById('pic')
    var getSrcImg = function() {
        var width = document.getElementById('width').value;
        var height = document.getElementById('height').value;
        if(width != "" & height != "") {
            try {
                _width = parseInt(width)
                _height = parseInt(height)
                return {
                    width: _width,
                    height: _height
                }
            }
            catch(err) {
                throw err;
                return null
            }
        }        
        else {
            return null
        }
    } 
    var handlerCrop = (data) => {
        console.log(getSrcImg())
    }
    // ---
    var add_cart_item = () => {
        id = saveIdChoose;
        var k = getSrcImg()
        url:
        $.ajax({
                url:'/GioHang/add_cart_item?id=' + id + '&width='+ k.width +'&height='+ k.height, 
                cache: true,
                success: (data)=> {
                        console.log(data)
                }
        })
    }
    // ---
    var id = 1;
    var num_of_pages = 0;
    function loadItems(page) {
        var url = '/SanPham/catalog'
        console.log(url)
        $.ajax({
            url: '/SanPham/catalog',
            type: 'GET',
            data: {
                page:page,
                CatalogId: id,
                {{!-- fromDate: fromDate,
                toDate: toDate,
                fromPrice: fromPrice,
                toPrice: toPrice,
                searchString: searchQuery --}}
            },
            success: function (data) {
                if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    handlePagination(num_of_pages); 
                   
                }
                getTemplateAjax('/templates/items_row.hbs', '#items', data)
            }
        })
    }
    function getTemplateAjax(path, target, jsonData) {
        var source;
        var template;

        $.ajax({
            url: path,
            cache: false,
            success: function (data) {
                source = data;
                template = Handlebars.compile(source);
                $(target).html(template(jsonData));
            }
        })
    }
    $('#pickCatalog').on('change', function () {
        id = this.value;
        loadItems(1);
    })

    $(document).ready(function () {
        id = 4;
        loadItems(1);
    });
</script>