<main>
    <div class="container-fluid" id="DatHangKhungTranh">
        <div class="row pt-0">
            <!-- catalogue -->
            <div class="col-4" id="khungtranh_catalogue">
                <h3 class="font-weight-bold pt-3">Danh mục mặt hàng</h3>
                <div role="tablist" aria-multiselectable="true">
                    <div class="card mb-1">
                        <div class="card-header" role="tab" id="section1HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#ItemList" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                                    Khung tranh composite hiện đại
                                </a>
                            </h5>
                        </div>
                        <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                            <div class="card-body p-0">

                                <!-- item 1 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh1.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite đen trơn</h6>
                                        <p>Mã hàng: F5D x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- item 2 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh2.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite trắng ngà trơn</h6>
                                        <p>Mã hàng: F5T x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- item 3 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh3.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite xanh lục trơn</h6>
                                        <p>Mã hàng: F5X x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>



                                <!-- item 4 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh4.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite hồng trơn</h6>
                                        <p>Mã hàng: F5H x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" role="tab" id="section2HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#ItemList" href="#section2ContentId" aria-expanded="true" aria-controls="section2ContentId">
                                    Khung tranh composite cổ điển
                                </a>
                            </h5>
                        </div>
                        <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
                            <div class="card-body p-0">
                                <!-- item 1 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh1.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite đen trơn</h6>
                                        <p>Mã hàng: F5D x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- item 2 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh2.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite trắng ngà trơn</h6>
                                        <p>Mã hàng: F5T x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- item 3 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh3.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite xanh lục trơn</h6>
                                        <p>Mã hàng: F5X x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>



                                <!-- item 4 -->
                                <div class="d-flex flex-row p-0 dathang_item">
                                    <div class="col-3 p-0">
                                        <img src="./img/thumb_ktranh4.jpg" alt="">
                                    </div>
                                    <div class="col-9 p-0">
                                        <h6>Khung Composite hồng trơn</h6>
                                        <p>Mã hàng: F5H x 3cm </p>
                                        <p>Chất liệu: composite trơn bóng</p>

                                        <div class="sanPhamPriceAndVote " style="font-size:0.8em">
                                            <span class="badge badge-dark" id="sanphamPrice">120.000đ</span>
                                            <span class="badge badge-secondary" id="sanphamStars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="d-inline-block"> (20 bình chọn)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- dat hang main -->
            <div class="col-6 flex-column d-flex align-content-center align-items-center" id="dathang_main">

                <h2 class=" font-weight-bold pt-2" style="font-weight:bold">Xem trước khung tranh</h2>

                <div id="frame_main" style="clear: both;">
                    <img src="./img/ktranh_1.png" alt="" style="z-index:20" id="frame">
                    <img src="./img/hinh_nguoi_dung_1.jpg" alt="" id="pic">
                </div>
                <div class="row p-3 mt-4" style="width:90%" id="dathang_controlpanel">
                    <div class="col-6">
                        <div class="align-items-center text-center p-0 " id="abs" style="font-size:3em">
                            <div id="frame_btn">
                                <i id="abc" class="fas fa-search-plus"></i>
                            </div>
                            <div id="frame_btn">
                                <i class="fas fa-search-minus"></i>
                            </div>
                            <div id="frame_btn">
                                <i class="fas fa-crop"></i>
                            </div>
                            <div id="frame_btn">
                                <i class="far fa-save"></i>
                            </div>
                        </div>
                        <hr class="m-2" style="border-color: white">
                        <div class="form-check pt-1 pl-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked> In hình kèm khung
                            </label>
                        </div>

                    </div>
                    <div class="col-6" id="abc">
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <label for="width">Dài (cm)</label>
                                    <input type="text" class="form-control" placeholder="Chiều dài" id="width">
                                </div>

                                <div class="col">
                                    <label for="height">Rộng (cm)</label>
                                    <input type="text" class="form-control" placeholder="Chiều rộng" id="height">
                                </div>
                            </div>

                            <div class="form-row pt-2 pl-1 pr-1">
                                <a style="width:100%" name="" id="" class="btn btn-danger align-self-center" href="./GioHang.html" role="button">
                                    Thêm vào giỏ
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </div>

                            <div class="text-center">


                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- hinh nguoi dung upload -->
            <div class="col-2" id="HinhNguoiDung">
                <div class="AddHinhNguoiDungItem p-3 align-content-center text-center align-items-center justify-content-center d-flex flex-column">
                    <i class="fas fa-camera" style="font-size:2em;"></i>
                    <p class="m-0" style="font-size:1em">Tải ảnh lên</p>
                </div>
                <hr>
                <ul id="listHinhNguoiDung">
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_1.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_2.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_3.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="HinhNguoiDungItem">
                            <img src="./img/hinh_nguoi_dung_4.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</main>