<link rel="stylesheet" href="css/dathang.css">
<link rel="stylesheet" href="./css/style.css">
<script src="/js/search.js"></script>
<link rel="stylesheet" href="lib/croppie/croppie.css"/>
<style>
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto !important;
    display: block !important;
    width: 80% !important;
    max-width: 700px !important;
}

/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

}
.dropzone {
    position: relative;
    width:100px;
    height: 100px;
    border:2px dashed #ccc;
    color: #ccc;
    line-height: 20px;
    text-align: center;
}
.dropzone.dragover {
    border-color: #000;
    color: #000;
}
</style>
<main>
    
    <div class="container-fluid" id="DatHangKhungTranh">
        <div class="row pt-0">
            <!-- catalogue -->
            <div class="col-4" id="khungtranh_catalogue">
                <h3 class="font-weight-bold pt-3">Danh mục mặt hàng</h3>
                <select class="form-control" id="pickCatalog">
                    {{#each catalog}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
                <div class="row pb-1">
                    <div class="col-5">
                        <ul id="pagination-demo" class="pagination pt-4"></ul>
                    </div>
                    <div class="col-7 p-2">
                        <p style="color:white">Tổng số mặt hàng: </p>
                        <p style="color:white" id="count"></p>
                    </div>
                    
                </div>
                
                <div role="tablist" aria-multiselectable="true">
                    <div id="items" style="background-color:#eee">

                    </div>
                </div>
            </div>

            <!-- dat hang main -->
            <div class="col-6 flex-column d-flex align-content-center align-items-center" id="dathang_main">
                <h2 class=" font-weight-bold pt-2" style="font-weight:bold">Xem trước khung tranh</h2>
                <div id="frame_main" style="clear: both;position: relative;">
                    <img src="/img/demo_F5T x 3cm.png" alt="" style="z-index=1;position:absolute;" id="frame-pic">
                    <div style="z-index=2;position:absolute;width:90%;height:90%;top:5%;left:5%;bottom:5%;right:5%;">
                        <img src="./img/hinh_nguoi_dung_1.jpg" alt="" id="pic">
                    </div>
                    </div>
                <div class="row p-3 mt-4" style="width:90%" id="dathang_controlpanel">
                    <div class="col-6">
                        <div class="align-items-center text-center p-0 " id="abs" style="font-size:3em">
                            <div id="frame_btn" onclick="rotate(-90)">
                                <i id="abc" class="fas fa-undo"></i>
                            </div>
                            <div id="frame_btn" onclick="rotate(90)">
                                <i class="fas fa-redo"></i>
                            </div>
                            <!--data-toggle="modal" data-target="#reviewImg" onclick="review()"-->
                            <div id="frame_btn" id="ireview" onclick="ireview()">
                                <i class="fas fa-search" ></i>
                            </div>
                            <div id="frame_btn" onclick="saveImg()">
                                <i class="far fa-save"></i>
                            </div>
                        </div>
                        <hr class="m-2" style="border-color: white">
                        <div class="form-check pt-1 pl-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked> In hình kèm khung
                            </label>
                        </div>

                    </div>
                    <div class="col-6" id="abc">
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <label for="width">Dài (cm)</label>
                                    <input type="number submit" class="form-control" placeholder="Chiều dài" id="width" value="524">
                                </div>

                                <div class="col">
                                    <label for="height">Rộng (cm)</label>
                                    <input type="number submit" class="form-control" placeholder="Chiều rộng" id="height" value="385">
                                </div>
                            </div>

                            <div class="form-row pt-2 pl-1 pr-1" >
                                <a style="width:100%" name="" id="" class="btn btn-danger align-self-center" role="button" onclick="add_cart_item()">
                                    Thêm vào giỏ
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </div>

                            <div class="text-center">


                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- hinh nguoi dung upload -->
            <div class="col-2" id="HinhNguoiDung">
                <div class="AddHinhNguoiDungItem p-3 align-content-center text-center align-items-center justify-content-center d-flex flex-column">
                    <span class="fas fa-camera" style="font-size:3em;"></span>
                    <p class="m-0" style="font-size:1em"></p>
                    <div id="uploads"></div>
                    <div id="dropzone" class="dropzone m-0" style="color:#000">Tải ảnh lên</div>
                </div>
                
                <hr>
                <ul id="listHinhNguoiDung">
                    
                </ul>
                <div class="align-content-center text-center align-items-center justify-content-center d-flex flex-column">
                    <button class="btn btn-primary" onclick="deletelist()"> Xóa hết </button>
                </div>
            </div>
        </div>
    </div>
<di id="myModal" class="modal">
  <button class="btn btn-primary" style="float:right;" onclick="creview()">Đóng</button>
  <div id="reviewImage">
      <img src="" alt="" class="modal-content" id="img01">
      <canvas id="canvas-id"></canvas>
  </div>
</main>
<script src="lib/croppie/croppie.js"></script>

<script>  
        var rw = 396;
        var rh = 385;
        var ratio = rw / rh;
    $('document').ready(function(){
            Handlebars.registerHelper( "compare", HbsCompare);
        $('.cr-viewport').removeAttr('style');
        //$('.cr-boundary').removeAttr('style');
        //var tmp = 'width:'+document.getElementById('width').value.toString()+'px;height:'+rh.toString()+'px';
        var tmp = 'width:100%;height:100%'; 
                //console.log(tmp);
        $('.cr-boundary').attr('style', tmp);
    })
    // update feature resize image design
    var updateSizeImgDesign = (data) => {
        var w = parseInt(document.getElementById('width').value);
        var h = parseInt(document.getElementById('height').value);
        if(data == 1){   
            document.getElementById('height').value = h;
            document.getElementById('width').value = w;
        } else {
            ratioh = h / rh;
            console.log(ratioh);
            document.getElementById('height').value = h;
            document.getElementById('width').value = w;
        }
        var c = croppie.options.viewport;
        c.width = w;
        c.height = h;
        console.log(croppie.data.url);
        croppie.bind({
            url: croppie.data.url, 
            orientation: 1,
            zoom:0
        })
        $('.cr-viewport').removeAttr('style');
        var tmp = 'width:'+document.getElementById('width').value.toString()+'px;height:'+rh.toString()+'px';
                console.log(tmp);
        $('.cr-boundary').attr('style', tmp);
    }
    var saveIdChoose = -1;
    var srcSaveImg = "";
    var src_final_edit = "";
    // add_item
    
    // handlers
    var yourChoose = (id, src) => {
        saveIdChoose = id;
        srcSaveImg = src;
        $('#frame-pic').attr('src', src);
    }
    //degisn
    var c = document.getElementById('pic')
    var getSrcImg = function() {
        var width = document.getElementById('width').value;
        var height = document.getElementById('height').value;
        if(width != "" & height != "") {
            try {
                _width = parseInt(width)
                _height = parseInt(height)
                return {
                    width: _width,
                    height: _height
                }
            }
            catch(err) {
                throw err;
                return null
            }
        }        
        else {
            return null
        }
    } 
    var handlerCrop = (data) => {
        console.log(getSrcImg())
    }
    // ---
    var add_cart_item = () => {
        var answer = confirm("Bạn có muốn thêm vào giỏ hàng?");
        if(answer == true) {

            id = saveIdChoose;
            var k = getSrcImg()
            data = {
                src: src_final_edit
            }
            $.ajax({
                    url:'/GioHang/add_cart_item?id=' + id + '&width='+ k.width +'&height='+ k.height, 
                    cache: true,
                    success: (data)=> {
                            $('#countItemInCart').html(parseInt($('#countItemInCart').html())+1);
                            console.log(data)
                    }
            })
        }
    }
    // ---
    var id = 1;
    var num_of_pages = 0;
    function loadItems(page) {
        var url = '/SanPham/catalog'
        console.log(url)
        $.ajax({
            url: '/SanPham/catalog',
            type: 'GET',
            data: {
                page:page,
                CatalogId: id,
                {{!-- fromDate: fromDate,
                toDate: toDate,
                fromPrice: fromPrice,
                toPrice: toPrice,
                searchString: searchQuery --}}
            },
            success: function (data) {
                if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    handlePagination(num_of_pages); 
                }
                getTemplateAjax('/templates/items_row.hbs', '#items', data)
            }
        })
    }
    function getTemplateAjax(path, target, jsonData) {
        var source;
        var template;

        $.ajax({
            url: path,
            cache: false,
            success: function (data) {
                source = data;
                template = Handlebars.compile(source);
                $(target).html(template(jsonData));
            }
        })
    }
    $('#pickCatalog').on('change', function () {
        id = this.value;
        loadItems(1);
    })

    $(document).ready(function () {
        id = 4;
        loadItems(1);
    });

    // process crop
    var frame = document.getElementById('pic');
    var croppie = new Croppie(frame, {
        viewport: {
            width: document.getElementById('width').value,
            height: document.getElementById('height').value
        },
        boundary: {
            width: document.getElementById('frame_main').clientWidth, 
            height: document.getElementById('frame_main').clientHeight,
            maxwidth: 400
        },
        showZoomer: true, 
        enableOrientation: true,
        mouseWheelZoom: 'ctrl',
        enforceBoundary:true
    })
    croppie.bind({
        url: document.getElementById('pic').src, 
        orientation: 1,
        zoom:0
    })
    croppie.result('blob').then(function(blob) {
        // do something with cropped blob
    });
    var rotate = (i) => {
        croppie.rotate(i);
    }
    // change Size
    
    // review
    // updatelist
    var updateList = function(id) {
        var url = 'data:image;base64,' + listImageNguoiDungUpdate[id];
        croppie.bind({
        url:  url,
        orientation: 1,
        zoom:0
    })
    }
    var deletelist = function() {
        document.getElementById('listHinhNguoiDung').innerHTML = "";
        saveList = "";
        listImageNguoiDungUpdate = [];
    }
    
    // Get the modal
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    var ireview = function(){
        croppie.result('base64').then(src => {
            var tmp = src.toString();
            var img01 = document.getElementById('img01');
            //img01.src = tmp.toString();
            // megre 2 image
            var canvas = document.createElement('canvas');
            var ctx;       
            if(srcSaveImg != "") {
                canvas.width = 300;
                canvas.height = 200;
                ctx = canvas.getContext("2d");
                var imageFrame = new Image(); //imageframe
                imageFrame.src = srcSaveImg;
                ctx.drawImage(imageFrame, 0, 0, canvas.width, canvas.height);
                var imageContent = new Image();
                imageContent.src = tmp.toString();
                var alphax = 10;
                var alphay = 10;
                ctx.drawImage(imageContent, alphax, alphay, canvas.width-20, canvas.height-20);
                var _img = canvas.toDataURL('image/png');
                setTimeout(function(){ 
                    img01.src = _img;
                    modal.style.display = "block";
                    src_final_edit = _img;
                }, 3000);
                
            } else {
                img01.src = tmp.toString();
                modal.style.display = "block";
                src_final_edit = tmp.toString();
            }
        })
    }
    var creview = function() { 
        modal.style.display = "none";
    }
    // save list default
    var saveList = "";
    //
    var listImageNguoiDungUpdate = [];
    // drag drop file
    (async function(){
        var TriggerUpload = (file) => {
            var reader = new FileReader();
            reader.readAsBinaryString(file);
            reader.onloadend = async function() {
                var tmp64 = btoa(reader.result);
                listImageNguoiDungUpdate.push(tmp64);
            }
        }
        
        var update = function() {
            var add = "";
            if(listImageNguoiDungUpdate.length >= 0)
            for(var i = 0; i<listImageNguoiDungUpdate.length;i++){
                e = listImageNguoiDungUpdate[i];
                add += "<li>" + "<div class='HinhNguoiDungItem' onclick='updateList("+i+")'>" + "<img src='data:image/png;base64,"+ e +"' alt=''>" + "</div>" + "</li>";
            }
            if(add != "")
                document.getElementById('listHinhNguoiDung').innerHTML = add;
        }
        setInterval(update, 2000);

        var dropzone = document.getElementById('dropzone');
        dropzone.ondrop = async function(e) {
            e.preventDefault();
            this.className = 'dropzone';
            if(e.dataTransfer.files.length == 1) {
                TriggerUpload(e.dataTransfer.files[0]);
            }
            else {
                for(var i = 0; i<e.dataTransfer.files.length;i++)
                TriggerUpload(e.dataTransfer.files[i]);
            }
        }
        dropzone.ondragover = function(){
            this.className = 'dropzone dragover';
            return false;
        }
        dropzone.ondragleave = function() {
            this.className = 'dropzone';
            return false;
        }
    }());
    // save img edit
    var saveImg = async function() {
        var a = await ireview()
        await console.log(src_final_edit);
    }
</script>