
    <main class="pb-5 mb-5">
    <div class="container">
        <div class="row">
           
            <div class="col-md-9">
                 <!-- Hinh thuc giao hang -->
                <div class="row pr-2 pl-2">
                    <!--Giao hang tiet kiem -->
                    <div class="col-md-6 col-sm-12 p-2">
                        <div class="hinhthucgiaohang flex-row d-flex" onclick="hinhthucgiaohang(1, 150000)">
                            <div class="col-10">
                                <h5> <i class="fas fa-truck"></i>  Giao hàng tiết kiệm</h5>
                                <p>Nhận hàng vào 21-27 tháng 4, 2018</p>
                                <p>150.000 đ</p>
                            </div>
                            <div class="col-2 text-center" style="margin:auto">
                                <div>
                                    <i style = "visibility: hidden; color:tomato; font-size:2em; margin:auto" class="fas fa-check" id="tick"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Giao hang tieu chuan -->
                    <div class="col-md-6 p-2 col-sm-12">
                            <div class="hinhthucgiaohang flex-row d-flex activehinhthucgiaohang" onclick="hinhthucgiaohang(2, 230000)">
                                <div class="col-10">
                                    <h5> <i class="fas fa-shipping-fast"></i></i>  Giao hàng tiêu chuẩn</h5>
                                    <p>Nhận hàng vào 20-23 tháng 4, 2018</p>
                                    <p>230.000 đ</p>
                                </div>
                                <div class="col-2 text-center" style="margin:auto">
                                    <div>
                                        <i style = "visibility: hidden; color:tomato; font-size:2em; margin:auto" class="fas fa-check" id="tick"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div> 

                <!-- Danh sach don hang -->
                <div class="chitietdonhang">
                    <table class="table table-striped table-responsive" style="table-layout: auto">
                        <thead class="">
                            <tr style=>
                                <th style="width:6%">#</th>
                                <th style="width:45%" >Sản phẩm</th>
                                <th style="width:15%">Kích thước</th>
                                <th style="width:10%">Giá</th>
                                <th style="width:15%">Số lượng</th>
                            </tr>
                            </thead>
                            <tbody id="loadItems">
                            </tbody>
                    </table>
                </div>
                <div class="row">
                </div>
            </div>

            <!-- Thanh toan don hang -->
            <div class="col-md-3 pb-5 pt-2 mt-2 thanhtoandonhang" id="loadInfos">
                {{!-- <h4>Địa điểm giao hàng</h4>
                <select class="form-control form-control-sm">
                        <option>Hồ Chí Minh</option>
                        <option>Hà Nội</option>
                        <option>Đà Nẵng</option>
                        <option>Nha Trang</option>
                        <option>Cần Thơ</option>
                        <option>Đắc Lắc</option>
                </select>
                <hr> --}}
                <!-- Thong tin don hang - thanh toan -->
                    
            </div>
        </div>
        <!-- Chi tiết đơn hàng -->
    </div>
    </main>
<script>
    
    //add 
    function getTemplateAjax(path, target, jsonData) {
        var source;
        var template;
        $.ajax({
            url: path,
            cache: false,
            success: function (data) {
                source = data;
                template = Handlebars.compile(source);
                $(target).html(template(jsonData));
            }
        })
    }
    function Reloads() {
        var url = '/GioHang/getIteminCart';
        $.ajax({
            url: url,
            cache: true,
            success: function (data) {
                if(data != null) {
                    getTemplateAjax('/templates/cart_item_row.hbs', '#loadItems', data);
                    getTemplateAjax('/templates/cart_item_col_info.hbs', '#loadInfos', data);
                }
            }
        })
    }
    $('document').ready(function(){
        Reloads();
    })
    var add_cart_item = (id) => {
        console.log(id)
        $.ajax({
            url:'/GioHang/add_cart_item?id=' +id, 
            cache: true,
            success: (data)=> {
                Reloads();
            }
        })
    }
    var delete_cart_item = (id) => {
        console.log(id)
        $.ajax({
            url: '/GioHang/delete_cart_item?id=' +id,
            cache: true,
            success: (data)=>{
               Reloads();
            }
        })
    }
    var change_cart_item = (id) => {
        console.log(id)
    }
    var remove_cart_item = (id) => {
        $.ajax({
            url: '/GioHang/remove_cart_item?id=' +id,
            cache: true,
            success: (data)=>{
                Reloads();
            }
        })
    }
     // read data cart from cookie
    
    var type = 2;
    var cost = 230000;
    var hinhthucgiaohang = (id, icost)=>{
        type = id;
        cost = icost;
    }
    var tmp = function() {
        console.log(type, cost)
        $.ajax({
            type: "POST", 
            url: "/GioHang/hinhthucgiaohang",
            cache: true,
            data: JSON.stringify({
                type: type,
                cost: cost
            }),
            contentType: 'application/json',
            success: function(data){
                window.location.href = "/ThanhToan";
            }
        })
    }
</script> 