<main class="pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 align-content-center lienhengay">
                <h4>Liên hệ ngay với chúng tôi</h4>
                <form>
                    <div class="form-group">
                        <label for="lienhe">Họ và tên</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Địa chỉ Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Số điện thoại</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Nội dung tin nhắn</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Nhập mã kiểm tra</label>
                        <img src="./img/captcha.gif" alt="" style="width:200px; height:50px">
                        <input type="text">
                    </div>
                </form>
                <button type="submit" class="btn btn-primary" style="margin:10px auto">Gửi tin nhắn</button>

            </div>
            <div class="col-md-4 thongtinlienhe">
                <h4>Thông tin liên hệ</h4>
                <h5>Xưởng khung tranh khungtranh.vn</h5>
                <p>
                    <i class="fas fa-phone"></i> (+84) 1228759002</p>
                <p>
                    <i class="far fa-envelope"></i> lienhe@khungtranh.vn</p>
                <p>
                    <i class="fas fa-map-marker"></i> 227 Nguyễn Văn Cừ, phường 4 Quận 5, TP. Hồ Chí Minh</p>

            </div>
        </div>

    </div>
</main>