<script src="/js/search.js"></script>
<link rel="stylesheet" href="./css/sanpham.css">
<main class="pb-5 mb-5">
      
        <div class="container p-0">
                {{!-- Tools collapse --}}
               
                <div class="collapse" id="collapseExample">
                         {{!-- Tim kiem, sap xep --}}
                        <div class="row" style="margin-top:5px" >
                            <div class="col-md-4 ">

                                <label for="catalogSelect">Danh mục</label>
                                <select class="form-control" id="catalogSelect"></select>
                            </div>

                            <div class="col-md-5 ">
                                
                                <label for="search">Tìm kiếm</label>
                                <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                        <a onclick=" $('#search').submit()">
                                                                <i class="fas fa-search"></i>
                                                        </a>
                                                </div>
                                        </div>                                 
                                        <input type="text" class="form-control" id="search" placeholder="Nhập nội dung tìm kiếm" name="searchquery">
                                </div>  
                            </div>
                            <div class="col-md-2">
                                <label for="sortBy"> Sắp xếp
                                    <br>
                                </label>
                                      <select class="form-control" id="sortBy">
                                        <option value="1">Tên từ A - Z</option>
                                        <option value="2">Tên từ Z - A</option>
                                        <option value="3">Giá tăng dần</option>
                                        <option value="4">Giá giảm dần</option>
                                    </select>
                            </div>
                            <div class="col-md-1 align-content-center text-center ">
                                <label for="search"> Tìm/lọc
                                    <br>
                                </label>
                                <button class="btn btn-primary align-bottom" id="search_filter" style="width:100%">Tìm</button>
                            </div>
                            
                        </div>
                {{!-- Filter/bo loc --}}
                        <div class="row">

                            <div class="col-md-3">
                                <label for="fromDate">Từ ngày</label>
                                <input class="form-control" type="date" min="0" value="" id="fromDate">
                            </div>

                            <div class="col-md-3">
                                <label for="toDate">Đến ngày</label>
                                <input class="form-control" type="date" min="0" value="" id="toDate">
                            </div>
                            <div class="col-md-3">
                                <label for="fromDate">Giá bán từ</label>
                                <input class="form-control" type="number" value="" id="fromPrice">
                            </div>

                            <div class="col-md-3">
                                <label for="toDate">Đến giá</label>
                                <input class="form-control" type="number" value="" id="toPrice">
                            </div>

                        </div>
                <p style="color:green; font-style:italic " id="countRows"></p> 
                </div>
                
                <div class="row">
                        <div class="col-md-3 mt-2">
                                <div class="navMatHang">
                                        <h4>Danh mục</h4>
                                        <ul class="nav flex-column">
                                                {{#each catalogs}}
                                                        <li class="nav-item">
                                                        <a class="nav-link" href="#" id="{{id}}">{{title}}</a>
                                                        </li>
                                                {{/each}}
                                        </ul>
                                        <h4 class="mt-2">Tìm kiếm</h4>
                                        <div class="text-center">
                                                <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <i class="fas fa-search"></i>
                                                Công cụ tìm kiếm
                                                </a>
                                             
                                        </div> 
                                        
                                
                                </div>
                        </div>
                        <div class="col-md-9 d-flex card-deck mathanglist justify-content-center">
                               
                                <!-- First row -->
                                <div id="items" class="p-2">
                                </div>
                                <ul id="pagination-demo" class="pagination pt-4"></ul>

                        </div>

                </div>
                
        </div>
</main>
<script>
        var add_cart_item = (id) => {
                console.log(id)
                url:
                $.ajax({
                        url:'/SanPham/add_cart_item?id=' +id, 
                        cache: true,
                        success: (data)=> {
                                console.log(data)
                        }
                })
        }
        var id = 1;
        var num_of_pages = 0;
         {{#each catalogs}}
                $('#{{id}}').on('click', function () {
                id = {{id}};
                $('.active').removeClass('active');
                $(this).addClass('active');
                loadItems(1);
        })
        {{/each}}
        function loadItems(page) {
                var url = '/SanPham/catalog'
        console.log(url)
        $.ajax({
            url: '/SanPham/catalog',
            type: 'GET',
            data: {
                page:page,
                CatalogId: id,
                {{!-- fromDate: fromDate,
                toDate: toDate,
                fromPrice: fromPrice,
                toPrice: toPrice,
                searchString: searchQuery --}}
            },
            success: function (data) {
                if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    handlePagination(num_of_pages); 
                   
                }
                getTemplateAjax('/templates/items.hbs', '#items', data)
            }
        })
        }
        function getTemplateAjax(path, target, jsonData) {
                var source;
                var template;

                $.ajax({
                        url: path,
                        cache: false,
                        success: function (data) {
                                source = data;

                                Handlebars.registerHelper('linebreak', function (i) {
                                        return (i % 3) == 0;
                                });
                                Handlebars.registerHelper('linebreakclose', function (i) {
                                        return ((i + 1) % 3) == 0;
                                });
                                template = Handlebars.compile(source);
                                $(target).html(template(jsonData));
                        }
                })
        }
        $('#search_filter').on('click', function () {
                executeSearch(1,'/templates/items.hbs')
        });
        function loadCatalog() {
        var url = '/admin/getCatalogInfo';
        $.ajax({
            url: url,
            cache: true,
            success: function (data) {
                catalog_info = data;
                getTemplateAjax('/templates/catalog_select_s.hbs', '#catalogSelect', data);
            }
        })
    }
        $(document).ready(function () {
                loadCatalog();
                $('.mypagination li').addClass('page-item');
                $('.mypagination li a').addClass('page-link');
                Handlebars.registerHelper( "compare", HbsCompare);
        });  
</script>