<script src="js/jquery.twbsPagination.min.js"></script>
<link rel="stylesheet" href="./css/sanpham.css">
<main class="pb-5 mb-5">
        <div class="container">

                <div class="row">
                        <div class="col-md-3 pl-0 mr-3">
                                <div class="navMatHang">
                                        <h4>Danh mục</h4>
                                        <ul class="nav flex-column">
                                                {{#each catalogs}}
                                                        <li class="nav-item">
                                                        <a class="nav-link" href="#" id="{{id}}">{{title}}</a>
                                                        </li>
                                                {{/each}}
                                        </ul>
                                </div>
                        </div>
                        <div class="col-md-9 d-flex card-deck mathanglist   justify-content-center">
                                <div class="row p-0 pt-4" style="width:120%">
                                        <div class="col-lg-6 col-md-12">
                                                <form action="/search" id="search">
                                                <div class="input-group mb-2 mr-sm-2">
                                                        <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                        <a onclick=" $('#search').submit()">
                                                                                <i class="fas fa-search"></i>
                                                                        </a>
                                                                </div>
                                                        </div>
                                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Nhập nội dung tìm kiếm" name="searchquery">
                                                </div>
                                                </form>
                                        </div>

                                        <div class="col-lg-6 col-md-12">
                                                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                                <div class="input-group mb-2 mr-sm-2">
                                                        <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                        <i class="fas fa-sort-amount-down"></i>
                                                                </div>
                                                        </div>
                                                        <select class="custom-select " id="inlineFormCustomSelectPref">
                                                                <option selected>Sắp xếp sản phẩm...</option>
                                                                <option value="1">Giá tăng dần</option>
                                                                <option value="2">Giá giảm dần</option>
                                                                <option value="3">Đánh giá tăng dần</option>
                                                                <option value="3">Đánh giá giảm dần</option>
                                                        </select>
                                                </div>

                                        </div>
                                </div>
                                <div>

                                </div>
                                <!-- First row -->
                                <div id="items">
                                </div>

                                <ul id="pagination-demo" class="pagination pt-4"></ul>

                        </div>

                </div>
        </div>
</main>
<script>
        function handlePagination(num_of_pages){
    if (num_of_pages == 0){
                     $('#pagination-demo').twbsPagination('destroy');
                }
                else {
                     $('#pagination-demo').twbsPagination('destroy');
                $('#pagination-demo').twbsPagination({
                    totalPages: num_of_pages,
                    visiblePages: 3,
                    next: '>',
                    prev: '<',
                    onPageClick: function (event, page) {
                        loadItems(page)
                    }
                });   
                }
}
        var add_cart_item = (id) => {
                console.log(id)
                url:
                $.ajax({
                        url:'/SanPham/add_cart_item?id=' +id, 
                        cache: true,
                        success: (data)=> {
                                console.log(data)
                        }
                })
        }
        var id = 1;
        var num_of_pages = 0;
         {{#each catalogs}}
                $('#{{id}}').on('click', function () {
                id = {{id}};
                $('.active').removeClass('active');
                $(this).addClass('active');
                loadItems(1);
        })
        {{/each}}
        function loadItems(page) {
                var url = '/SanPham/catalog'
        console.log(url)
        $.ajax({
            url: '/SanPham/catalog',
            type: 'GET',
            data: {
                page:page,
                CatalogId: id,
                {{!-- fromDate: fromDate,
                toDate: toDate,
                fromPrice: fromPrice,
                toPrice: toPrice,
                searchString: searchQuery --}}
            },
            success: function (data) {
                if (num_of_pages != data.pagination.num_of_pages) {
                    num_of_pages = data.pagination.num_of_pages;
                    handlePagination(num_of_pages); 
                   
                }
                getTemplateAjax('/templates/items.hbs', '#items', data)
            }
        })
        }
        function getTemplateAjax(path, target, jsonData) {
                var source;
                var template;

                $.ajax({
                        url: path,
                        cache: false,
                        success: function (data) {
                                source = data;

                                Handlebars.registerHelper('linebreak', function (i) {
                                        return (i % 3) == 0;
                                });
                                Handlebars.registerHelper('linebreakclose', function (i) {
                                        return ((i + 1) % 3) == 0;
                                });

                                template = Handlebars.compile(source);
                                $(target).html(template(jsonData));
                        }
                })
        }

        $(document).ready(function () {
                $('.mypagination li').addClass('page-item');
                $('.mypagination li a').addClass('page-link');
        });    
</script>