<link rel="stylesheet" href="./css/thanhtoan.css">
<main class="pb-5 mb-5">
    <div class="container">

        <div class="row">

            <div class="col-lg-9">
                <!--  Thong tin giao hang -->
                <div class="ThongTinGiaoHang p-3 mt-2">

                    <h4 class="mb-2 font-weight-bold">Thông tin giao hàng</h4>
                    <form>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault01">Địa chỉ email</label>
                                <input type="email" class="form-control" id="validationDefault01" placeholder="someone@example.com" value="" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationDefault01">Địa chỉ nhận hàng</label>
                                <input type="text" class="form-control" id="validationDefault01" placeholder="Vui lòng nhập địa chỉ của bạn" value="" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Tên</label>
                                <input type="text" class="form-control" id="validationDefault03" placeholder="Họ và tên người nhận" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Tỉnh/ Thành phố</label>
                                <select class="custom-select" required>
                                    <option value="">Vui lòng chọn tỉnh/thành phố</option>
                                    <option value="1">Hà Nội</option>
                                    <option value="2">Đà Nẵng</option>
                                    <option value="3">Hồ Chí Minh</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Số điện thoại người nhận</label>
                                <input type="text" class="form-control" id="validationDefault03" placeholder="Số điện thoại người nhận" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Phường/xã</label>
                                <select class="custom-select" required>
                                    <option value="">Vui lòng chọn phường/xã</option>
                                    <option value="1">Quận 1</option>
                                    <option value="2">Quận 2</option>
                                    <option value="3">Quận 3</option>
                                    <option value="4">Quận 4</option>
                                    <option value="5">Quận 5</option>
                                    <option value="6">Quận 6</option>
                                </select>
                            </div>


                        </div>

                        <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
                    </form>
                </div>

                <!-- Thong tin thanh toan -->
                <div class="ThongTinThanhToan mt-2 p-3">
                    <div class="m-3">
                        <h4 class="font-weight-bold">Thông tin thanh toán</h4>
                    </div>
                    <ul class="nav nav-tabs nav-justified row p-3 pb-0">
                        <li class="active text-center col-sm-12 col-lg-4 m-0">
                            <a data-toggle="tab" href="#home">
                                <i class="fas fa-money-bill-alt thanhtoan_icon"></i>
                                <br> Thanh toán khi nhận hàng</a>
                        </li>
                        <li class="text-center col-sm-12 col-lg-4 m-0">
                            <a data-toggle="tab" href="#menu1">
                                <i class="fab fa-paypal thanhtoan_icon"></i>
                                <br> Thanh toán với Paypal</a>
                        </li>
                        <li class="text-center col-sm-12 col-lg-4 m-0" href="#menu2">
                            <a data-toggle="tab" href="#menu2">
                                <i class="far fa-address-card thanhtoan_icon"></i>
                                <br> Thẻ ATM nội địa</a>
                        </li>
                    </ul>

                    <div class="tab-content p-0">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Thanh toán khi nhận hàng</h3>
                            <p>Bạn có thể thanh toán bằng tiền mặt khi nhận hàng tại nhà</p>
                            <a style="width:200px; margin: 10px auto; " name="" id="" class="btn btn-danger btn-lg btn-block" href="./TinhTrangDonHang.html">
                                Thanh toán ngay
                            </a>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    {{!--
                                    <h3>Thẻ tín dụng/Thẻ ghi nợ</h3> --}}
                                    <h3>Thanh toán với Paypal</h3>
                                    <div style="font-size:2em">
                                        <i class="fab fa-cc-mastercard"></i>
                                        <i class="fab fa-cc-visa"></i>
                                        <i class="fab fa-cc-jcb"></i>
                                    </div>
                                    <div style="width:100%">
                                        <p class=" text-justify" style="width:100%">Với Paypal, nay bạn có thể mua sắm và thanh toán trực tuyến an toàn, dễ dàng và nhanh
                                            chóng hơn nhiều tại tất cả các cửa hàng mình yêu thích</p>

                                    </div>

                                    {{!--
                                    <label for="validationCustom02">Số thẻ</label>
                                    <input type="number" class="form-control" id="validationCustom02" placeholder="Số thẻ" required>

                                    <label for="validationCustom02" class="mt-3">Tên trên thẻ</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Số thẻ" required>

                                    <div class="form-row mt-3">
                                        <div class="col-md-10 mb-3">
                                            <label for="validationCustom03">Ngày hết hạn</label>
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="MM/YY" required>
                                        </div>

                                        <div class="col-md-2 mb-3">
                                            <label for="validationCustom03">CVV</label>
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="CVV" required>
                                        </div>
                                    </div> --}}
                                </div>
                                {{!--
                                <a style="width:200px; margin: 10px auto" href="./TinhTrangDonHang.html" name="" id="" class="btn btn-danger btn-lg btn-block"
                                    href="./TinhTrangDonHang.html">
                                    Thanh toán ngay
                                </a> --}}
                            </div>
                            <form action="/paypal" method="POST">
                                <input type="submit" value="Thanh toán ngay" class="btn btn-danger btn-lg btn-block" style="width:200px; margin: 10px auto">
                            </form>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Thẻ ATM nội địa</h3>
                            <p class=" text-justify">Bạn sẽ được chuyển đến cổng thanh toán NAPAS để thanh toán bằng thẻ ATM nội địa của 34 ngân hàng
                                Việt Nam. Trước khi đặt hàng, vui lòng kiểm tra lại:
                                <br>- Bạn đã có thẻ ATM nội địa
                                <br>- Thẻ đã được kích hoạt thanh toán trực tuyến. Nếu chưa, bạn có thể liên hệ với ngân hàng
                                đang sử dụng để đăng ký.

                                <br>Lưu ý: Nếu thẻ có logo Visa, Master hoặc JCB, bạn vui lòng chọn phương thức thanh toán bằng
                                Thẻ tín dụng/ghi nợ. </p>
                            <form action="/payment/checkout" method="POST">
                                <input type="submit" value="Thanh toán ngay" class="btn btn-danger btn-lg btn-block" style="width:200px; margin: 10px auto">
                            </form>
                        </div>

                    </div>
                </div>


            </div>

            <!-- Thanh toan don hang -->
            <div class="col-lg-3 pb-5 pt-2 mt-2 thanhtoandonhang">
                <h4>Chỉnh sửa đơn hàng</h4>
                <a style="margin: 0 auto" href="/GioHang" name="" id="" class="btn btn-secondary btn-lg">
                    Quay lại chỉnh sửa
                </a>

                <hr>
                <!-- Thong tin don hang - thanh toan -->
                <h4>Thông tin đơn hàng</h4>
                <div class="row">
                    <div class="col">
                        <p>Số lượng: </p>
                    </div>
                    <div class="col">
                        <p class="tongsoluong" id="count">{{count}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Đơn giá: </p>
                    </div>
                    <div class="col">
                        <p>120.000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Phí in hình: </p>
                    </div>
                    <div class="col">
                        <p>100.000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Vận chuyển: </p>
                    </div>
                    <div class="col">
                        <p>230.000</p>
                    </div>
                </div>
                <hr style="margin:0; border-color:#888; width: 230px;">
                <div class="row pt-2">
                    <div class="col">
                        <p style="font-weight:bold; font-size:1.2em">Tổng tiền: </p>
                    </div>
                    <div class="col" style="color:tomato; font-size:1.4em; font-weight:bold">
                        <p id="price">{{price}}</p>
                    </div>
                </div>
                <div class="text-right pr-3">
                    <p class=" font-italic">Đã bao gồm thuế VAT</p>
                </div>
                <div class="pt-3 pr-2">

                </div>

                </di>
            </div>

            <!-- Chi tiết đơn hàng -->
        </div>
</main>