<main class="pb-5 mb-5">
    <div class="container pt-3">
        <h3 id="dsdonhangtitle">Danh sách đơn hàng đã đặt</h3>
        <div class="row">

            <div class="col-md-12">
                <!-- Danh sach don hang -->
                <div class="chitietdonhang">
                    <table class="table table-responsive table-striped">
                        <thead class="">
                            <tr>
                                <th style="width:6%">#</th>
                                <th style="width:10%">Mã đơn hàng</th>
                                <th style="width:10%">Giá</th>
                                <th style="width:10%">Ngày đặt</th>
                                <th style="width:10%">Ngày dự kiến giao</th>
                                <th style="width:500px; white-space:nowrap">Tình trạng đơn hàng</th>
                                <th style="width:14%; white-space:nowrap">Hủy đơn hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list}}
                            <!-- Item 1 -->
                            <tr class="giohang_item">
                                <td scope="row"> #{{id}}
                                </td>
                                <td class="pr-0 ">
                                    <div class="d-flex flex-row">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 75%"></div>
                                        </div>

                                        <div class="col-9 pr-0">
                                            <h6>{{id}}</h6>
                                        </div>
                                </td>
                                <td>{{price}}vnđ</td>
                                <td>{{date}}</td>
                                <td>Đang xử lý</td>
                                <td class="pt-3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                            style="width:70%">
                                            Đang chờ giao
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>
                                        <i style="margin:0 auto" class="fas fa-trash-alt trashbin"></i>
                                    </p>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                    <div class="row">
                    </div>
                    </div>

                    <!-- Thanh toan don hang -->

                </div>

                <!-- Chi tiết đơn hàng -->
            </div>
</main>